* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blok {
    max-width: 500px;
    border: solid 2px black;
    margin: auto;
    padding: 50px 100px 0 100px
}

.blok input {
    width: 300px;
    height: 40px;
    font-size: 14px;
    border-radius: 5px;
    padding-left: 14px;
    border: 1px solid #eaeaea;

}

h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 20px
}

.colorBlack {
    color: black;
}

.color3d3d3d {
    color: #3d3d3d
}

.color46a358 {
    color: #46a358
}

.marginB15 {
    margin-bottom: 15px
}

.marginB16 {
    margin-bottom: 16px
}

.marginB27 {
    margin-bottom: 27px
}

.marginB40 {
    margin-bottom: 40px
}

.marginB41 {
    margin-bottom: 41px
}

.passwordRegister {
    color: black;
    font-size: 13px;
    margin-bottom: 14px
}

.batonRegister {
    width: 300px;
    height: 45px;
    background-color: #46a358;
    border-radius: 5px;
    margin-bottom: 32px
}

.textRegister {
    color: white;
    font-size: 16px
}

.orRegister {
    text-align: center;
    margin-bottom: 27px;
    color: black;
    font-size: 13px;
}

.Reg {
    width: 300px;
    height: 40px;
    border: solid 1px #EAEAEA;
    border-radius: 5px;
    padding-left: 14px;
    font-size: 14px;
}

.typeA {
    display: flex;
    text-decoration: none;
    width: 300px;
    height: 40px;
    border: solid 1px #EAEAEA;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.greenGif {
    margin: 0 0 -2px -100px
}

.info {
    text-align: center;
    margin: 50px 0;
    font-size: 30px
}

a {
    display: inline-block;
}

header {
    padding-top: 30px;
}

.container {
    max-width: 1200px;
    margin: auto;

}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(70, 163, 88, 0.5);

}

header nav ul {
    display: flex;
    gap: 50px;
}

header .logo {
    margin-bottom: 18px;
}

header nav a {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    text-decoration: none;
}

header .login {
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 7px 17px;
    background: #46a358;
    border-radius: 6px;
    display: flex;
    align-items: center;
    margin-bottom: 18px;

}

header .login:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../imagis/Logout.svg");
    margin-right: 4px;
}

header nav li:after {
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 25px;
    transition: 0.4s;
}

header nav li:hover:after {
    width: 100%;
}

main {
    max-width: 1200px;
    margin: auto;

}

.WelcomToGreenshop {
    display: flex;
    background-color: #fbfbfb;
    margin-top: 7px;


}

.WelcomToGreenshop1 {
    max-width: 650px;
    margin-left: 40px;
    padding-top: 68px;
}

main .p1 {

    padding-bottom: 7px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    text-transform: uppercase;
    color: #3d3d3d;
}

main h1 {


    font-family: "Cera Pro", sans-serif;
    font-weight: 900;
    font-size: 70px;
    text-align: left;
    line-height: 100%;
    text-transform: uppercase;
    color: #3d3d3d;
    padding-bottom: 5px;

}

main h1 .PLANET {
    color: #46a358;
}

main .p2 {

    padding-bottom: 44px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    color: #727272;
}

main .SHOPNOW {
    width: 140px;
    height: 40px;
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0 17px;
    color: #fff;
    background: #46a358;
    border-radius: 6px;
    align-items: center;
}

.product {
    margin-top: 31px;
}

.product h4 {
    margin-top: 14px;
    margin-left: 18px;
    margin-bottom: 20px;
}

.product .left_side ul {
    margin-bottom: 273px;
}

.product .left_side li a {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3d3d3d;
    text-decoration: none;
    margin-left: 30px;
    margin-bottom: 20px;
}

.product .left_side li a:hover {
    color: #46a358;
    display: block;
    width: 100%;


}

.product .container {
    display: flex;
    justify-content: space-between;
}

.product .left_side {
    max-width: 310px;
    background-color: #fbfbfb;
}

.product .rite_side {
    max-width: 840px;
    width: 100%;

}

.rite_side .cap {
    display: flex;
}

.rite_side .product_sort li a {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3d3d3d;
    text-decoration: none;
}

.rite_side .product_sort li a:hover {
    color: #46a358;
    display: block;
    width: 100%;
}

.rite_side .product_sort li a:after {
    display: block;
    width: 0;
    content: "";
    background-color: #46a358;
    height: 3px;
    margin-top: 7px;
}

.rite_side .product_sort li a:hover:after {
    width: 100%;
}

.product .product_sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 31px;
}

.product .product_sort ul {
    display: flex;
    text-decoration: none;
    gap: 40px;
}

.rite_side .product_sort p {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #3d3d3d;
}

.main_product_items {
    display: flex;
    gap: 33px;
    margin-bottom: 70px;

}

.main_product_items img {
    width: 258px;
    height: 300px;
    background-color: #fbfbfb;


    margin-bottom: 12px;
}

.main_product_items p {
    font-family: "Cera Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #3d3d3d;
    margin-bottom: 6px;

}

.main_product_items a {
    font-family: "Cera Pro", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #46a358;
    margin-bottom: 6px;
    text-decoration: none;
}